<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>zw_cxy01_Listener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置Listener -->
  <listener>
  	<listener-class>com.zw.Listener.MyServletContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.zw.Listener.MyHttpSessionListener</listener-class>
  </listener>
  
  <!-- 配置session有效期 -->
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  <listener>
  	<listener-class>com.zw.Listener.MyServletRequestListener</listener-class>
  </listener>
  
  <!-- 配置Listener -->
  <listener>
  	<listener-class>com.zw.Listener.MyHttpSessionAttributeListener</listener-class>
  </listener>
</web-app>